body {
    background-color: blue;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .thankyou-container {
    text-align: center;
    height: 70vh;
    width: 450px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .thankyou-container img {
    width: 90px;
    margin-bottom: 15px;
    padding:20px;
  }
  
  .thankyou-container h2 {
    color: #007bff;
    font-size: 35px;
    margin-bottom: 10px;
    /* padding: 50px; */
  }
  
  .thankyou-container p {
    color: #333;
    font-size: 25px;
    margin-bottom: 10px; /* Reduced bottom margin */
    padding: 60px; /* Reduced padding */
  }
  
  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -10px; /* Moves buttons up */
  }
  
  
  .button-group button {
    padding: 15px 40px; /* Increased padding */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px; /* Increased font size */
  }
  
  
  .feedback-btn {
    background-color: #007bff;
    color: white;

  }
  
  .feedback-btn:hover {
    background-color: #0056b3;
  }
  
  .no-thanks-btn {
    background-color: #6c757d;
    color: white;
  }
  
  .no-thanks-btn:hover {
    background-color: #545b62;
  }
  
  .back-home {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .back-home:hover {
    text-decoration: underline;
  }
  